datadir
target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
dependency-reduced-pom.xml
.recommenders
# Intellij
.idea/
*.iml
*.iws
*~

node_modules/
package-lock.json
